<header>
  <span>Open Petition on NEAR</span>
  <span class="sign-in" *ngIf="!isUserSignedIn"><button (click)="signIn()">Sign In</button></span>
  <span class="sign-in" *ngIf="isUserSignedIn"><button (click)="signOut()">Sign Out</button></span>
</header>
<section class="create-petition-container">
  <form [formGroup]="createPetitionForm" (ngSubmit)="createPetition(createPetitionForm)">
    <div>
      <label>
        Title:
        <input formControlName="title" placeholder="Title of petition">
      </label>
    </div>
    <div>
      <label>
        Body:
        <input formControlName="body" placeholder="Description of petition">
      </label>
    </div>
    <div>
      <label>
        Is the petition a funded petition:
        <input type="checkbox" formControlName="isFunded">
      </label>
    </div>
    <div *ngIf="createPetitionForm.value.isFunded">
      <label>
        What is the minimum fund amount for this petition:
        <input formControlName="minFundAmount">
      </label>
    </div>
    <button type="submit" [disabled]="!isValidForm()">Create Petition</button>
  </form>
</section>
<section class="petition-list-container">
  <div class="list">     
    <ng-container *ngIf="petitionList.length>0; else elseTemplate">      
      <details *ngFor="let petition of petitionList; let i=index">
        <summary>{{petition.title}} by {{petition.creator}} <span *ngIf="petition.isFunded">Funded min is {{petition?.minFundAmount}}NEAR</span></summary>
        <p>{{petition.body}}</p>         
        <div>
          <details>
            <summary>Signatures</summary>
            <hr>
            <ul *ngFor="let signature of petition?.signatures">
              <li>{{signature}}</li>
            </ul>
          </details>
        </div>
        <ng-container *ngIf="!petition.isFunded; else signFundedPtemplate">
          <button (click)="signUnfundedPetition(petition.id)" [disabled]="!isUserSignedIn">Sign Petition</button> 
        </ng-container>
        <ng-template #signFundedPtemplate>
          <p><input type="number" #attachedNear id="attachedNear" [defaultValue]="petition.minFundAmount">
            <button (click)="signFundedPetition(petition.id, attachedNear.value)" [disabled]="!isUserSignedIn">Sign Petition</button></p>
        </ng-template> 
      </details>   
    </ng-container>
    <ng-template #elseTemplate>
      <p>No Petitons has been added.<button (click)="addPetition()">Create Petition</button></p>
    </ng-template>   
  </div>  
</section>
